<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
		<div>
			<p>Hi!</p>
			<p>In order to verify your email address, please <a href="{{confirmation_link}}" target="_blank">click on this confirmation link</a></p>
			<p>&nbsp;</p>
			<p>Best regards,</p>
			<p>The CV Counsellors team</p>
			<br>
			<div>CV Counsellors Limited<br>
				Sector 3<br>
				Noida
			</div>
			<br>
			<div style="text-align:right">Sent with 
				<a href="https://cvcounsellors.com" target="_blank">CV Counsellors
				</a>
			</div>
		</div>
	</body>
</html>